#host {
    max-width: 1400px;
    margin-bottom: 100px;
    h1 {
        font-size: 180px;
        font-weight: 900;
        color: #001350;
        text-shadow: 5px 5px 1px #ccc;
        position: relative;
        top: 50px;
        left: 10px;
    }
    >div {
        background-color: #eee;
        border-radius: 16px;
        box-shadow: 5px 5px 4px #ccc;
        text-align: center;
        >#register {
            padding: 100px 0;
            position: relative;
        }
    }
    #choice {
        position: absolute;
        top: -30px;
        right: 50px;
        background-color: #eee;
        width: 600px;
        height: 80px;
        line-height: 3;
        border-radius: 40px;
        ul {
            display: flex;
            font-size: 18px;
            justify-content: space-around;
            padding: 5px 0;
            li {
                padding: 0 55px;
            }
            .hostPlayer.color {
                border-radius: 50px;
                background-color: rgb(211, 211, 211);
                box-shadow: 2px 2px 1px #999;
            }
            .hostTicket.color {
                border-radius: 50px;
                background-color: rgb(211, 211, 211);
                box-shadow: 2px 2px 1px #999;
            }
            .hostCus.color {
                border-radius: 50px;
                background-color: rgb(211, 211, 211);
                box-shadow: 2px 2px 1px #999;
            }
        }
    }
    #input {
        max-width: 1200px;
        table {
            width: 100%;
            border-collapse: collapse;
            td {
                padding: 20px 0;
                border-bottom: 1px solid #ccc;
                &:nth-child(1) {
                    width: 30%;
                    text-align: right;
                }
                &:nth-child(2) {
                    width: 70%;
                }
            }
            input {
                width: 70%;
                height: 50px;
                border: none;
                outline: none;
                padding-left: 5%;
            }
        }
    }
}
#host #btn {
    margin: 80px auto 0;
    border: 2px solid yellow;
    width: 100px;
    height: 50px;
    position: relative;
    &:hover{
        transition: 0.5s;
    }
    button {
        background-color: #001489;
        color: #fff;
        outline: none;
        border: none;
        width: 100px;
        height: 50px;
        position: absolute;
        top: -10px;
        left: -10px;
        transition: 0.3s;
        cursor: pointer;
    }
    &:hover button {
        top: -2px;
        left: -2px;
        transition: 0.3s;
        background-color: #001350;
    }
}

// 선수 사진 등록
// .ant-space
// .ant-space-item
// .ant-upload
// .ant-btn > span 2개

// .ant-upload-list
// .ant-upload-list-picture-container
// .ant-upload-span
// .ant-upload-list-item-name
// .ant-upload-list-item-card-actions picture > button > .anticon anticon-delete
.hostPlayer {
    #mainImg {
        .ant-space {
            .ant-upload-list-picture-container{
                width: 60%;
            }
        }
    }
}
.ant-space {
    width: 80%;
    display: flex;
    .ant-space-item {
        margin: 0 auto;
        text-align: center;
        align-items: center;
        .ant-upload {
            .ant-btn {
                outline: none;
                border: none;
                background-color: #fff;
                cursor: pointer;
                margin-bottom: 10px;
                width: 70%;
                height: 40px;
                &:hover {
                    border: blue 2px dotted;
                }
                > span {
                    padding: 0 5px;
                }
            }
        }
    }
}
.ant-upload-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .ant-upload-list-picture-container {
        width: 30%;
        margin: 0 auto;
        margin-bottom: 10px;
        .ant-upload-span {
            width: 10%;
            .ant-upload-list-item-name {
                font-size: 14px;
            }
            button {
                outline: none;
                border: none;
                padding-left: 5px;
            }
            &:hover button {
                color: red;
            }
        }
    }
}

.hostTicket {
    #home > img {
        width: 13%;
    }
}

#input > #hostCusForm {
    > table {
        > tr {
            width: 100%;
            &:first-child {
                background-color: #001350;
                td{
                    color: #fff;
                }
            }
            td{
                flex-wrap: wrap;
                width: 11%;
            }
            td:nth-child(1) {
                width: 10%;
                text-align: center;
            }
            td:nth-child(2) {
                width: 13%;
            }
        }
    }
    button {
        background: none;
        border: none;
        cursor: pointer;
    }
    .remove:hover button{
        color: red;
    }
}
#hostName {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    div {
        &:nth-child(1) {
            text-align: left;
            font-size: 14px;
            span {
                color: red;
                vertical-align: middle;
                padding-right: 5px;
                font-size: 18px;
            }
        }
        &:nth-child(2) {
            text-align: right;
            span {
                font-weight: bold;
                font-size: 18px;
            }
        }
        width: 100%;
    }
}