#joinStyled {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin-top: 50px;

    img {
        opacity: 0.1;
        position: fixed;
        top: 0;
        left: 0;
        width: 49%;
    }
}

#joinText {
    padding: 50px 0;

    h1 {
        font-size: 100px;
        font-weight: 900;
    }
}

#join {
    max-width: 1200px;

    table {
        tr {
            position: relative;
            width: 100%;

            &:nth-child(4) input {
                margin-bottom: 45px;
            }

            &:nth-child(6) input {
                margin-top: 45px;
            }
        }

        th {
            position: absolute;
            top: 17px;
            left: 20px;
            background-color: #e6e2dd;
            padding: 0 10px;
        }

        input {
            outline: none;
            border: 1px solid #333;
            background: none;
            margin: 25px 0;
            font-size: 16px;
            width: 620px;
            height: 75px;
            text-align: center;
        }
    }
}

#joinAdd td {
    span {
        background-color: #001489;
        color: #fff;
        padding: 8px 10px;
        outline: none;
        border: none;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    input {

        &:nth-child(1) {
            width: 100%;
            margin-bottom: -20px;
        }

        &:nth-child(2) {
            width: 100%;
            margin-bottom: 100px;
        }
    }

    #postBtn {
        background-color: #001489;
        position: absolute;
        top: -140px;
        right: -500px;
        transform: translate(-50%, -50%);
        z-index: 101;
        color: #fff;
        width: 80px;
        height: 40px;

        &:hover {
            background-color: #001350;
        }
    }
}

#joinBox {
    th {
        margin-top: -30px;
    }

    td {
        // border: 1px solid #000;
        border-top: 1px solid #000;
        padding-bottom: 50px;

        input {
            accent-color: #0123B4;
            width: 20px;
            height: 20px;
            vertical-align: middle;

            &:nth-child(1) {
                margin-right: 100px;
            }
        }
    }
}

#gender {
    th {
        margin-top: -30px;
    }

    td {
        // border: 1px solid #000;
        border-top: 1px solid #000;
        padding-bottom: 50px;

        input {
            accent-color: #0123B4;
            width: 20px;
            height: 20px;
            vertical-align: middle;

            &:nth-child(1) {
                margin-right: 100px;
            }
        }
    }
}

#joinBtn {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    border: 2px solid yellow;
    width: 130px;
    height: 60px;
    position: relative;

    &:hover {
        transition: 0.5s;
    }

    button {
        background-color: #001489;
        color: #fff;
        outline: none;
        border: none;
        width: 130px;
        height: 60px;
        font-size: 16px;
        position: absolute;
        top: -10px;
        left: -10px;
        transition: 0.3s;
        cursor: pointer;
    }

    &:hover button {
        top: -2px;
        left: -2px;
        transition: 0.3s;
        background-color: #001350;
    }
}

#joinData {
    th {
        margin-top: -30px;
    }

    td {
        border: 1px solid #000;

        input {
            height: 20%;
            width: 20%;
            border: none;
        }
    }
}

#joinPhone {
    th {
        margin-top: 15px;
    }
}

// 유효성 검사

#join {
    button:disabled {
        background-color: #222;
    }

    p {
        font-size: 14px;

        &.success {
            color: #777;
        }

        &.error {
            color: rgb(184, 0, 0);
        }
    }

    #name,
    #mail,
    #pass,
    #joinPhone {
        p {
            width: 100%;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    #passCk {
        p {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

#postCodeStyle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}