// header
* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #e6e2dd;
    color: #222;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
header {
    min-width: 1200px;
    text-align: center;
}
#header_top {
    display: flex;
}
#header_top > div {
    width: 33.3333%;
}
#header_img img {
    width: 80px;
}

// main
#main_text {
    font-size: 100px;
}

// footer