/* ㅡㅡㅡㅡㅡ main ㅡㅡㅡㅡㅡ */

/* 첫번째 */
#main {
    width: 100%;
    height: 100vh;
    background-color: #e6e2dd;
    position: relative;
    margin-bottom: 200px;
}
#main_text {
    padding: 80px 0;
    text-align: center;
}
#text_left {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 120px;
}
#text_right {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 100px;
}
#daepyo {
    display: flex;
    justify-content: space-around;
}
#daepyo > div {
    width: 50%;
    padding: 50px 0;
    text-align: center;
    position: relative;
}
#daepyo img {
    padding-top: 30px;
    opacity: 0;
}
#daepyo #Boehly img {
    width: 320px;
    height: 380px;
    transition: 0.5s;
}
#daepyo #Tuchel img {
    width: 350px;
    height: 380px;
    transition: 0.5s;
}
#daepyo #img p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 2px 2px #001350;
    font-size: 23px;
    transition: 0.3s;
}
#daepyo #img p::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    box-shadow: 1px 1px 2px #222;
}
#daepyo #img:hover img {
    transform: scale(1.4);
    background: radial-gradient(#777, #222);
    transition: 0.5s;
    opacity: 1;
    z-index: 5;
}
#daepyo #img:hover p::after {
    width: 100%;
    margin: 0 auto;
    transition: 0.5s;
}
/* 두번째 */
#main2 {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
}
#main2 > div:nth-child(1) {
    position: relative;
}
#main2 h2 {
    font-size: 48px;
    margin: 180px 0 120px 80px;
}
#main2_icon {
    position: absolute;
    top: 10px;
    left: 730px;
}
#main2 .list {
    /* margin-left: 50px; */
    display: flex;
}
#main2 .list .item {
    margin-right: 100px;
}
#main2 .list .item h4 {
    font-size: 12px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
}
#main2 .list .item embed {
    width: 400px;
    height: 300px;
}
/* 터치 스크롤 */
.list {
    display: flex;
    width: 100%;
    /* transform: translate(0, 0); */
}
.item {
    user-select: none;
}
.link {
    display: block;
    -webkit-user-drag: none;
}
.link img {
    display: block;
    -webkit-user-drag: none;
}

/* 세번째 */
#main3 {
    width: 100%;
    height: 110vh;
}
#main3 h2 {
    font-size: 48px;
    padding: 150px 0 80px 80px;
}
#main3_box {
    display: flex;
    background-color: #0123B4;
    border-radius: 16px;
    max-width: 1600px;
    height: 580px;
    position: relative;
}
#boxText {
    color: #000;
    padding: 40px 0 20px 100px;
    font-size: 48px;
    text-align: left;
    font-weight: bold;
}
#result div:nth-child(1) {
    text-align: right;
    padding-right: 100px;
}
#main3_box > img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
}
/* 경기 */
#slider {
    display: flex;
}
#match {
    width: 50%;
    height: 100%;
    background-color: pink;
}
    /* 시간 */
#matchTime {
    display: flex;
    text-align: center;
    width: 500px;
}
#matchTime h3 {
    color: #fff;
    margin-bottom: 5px;
}
#matchTime p {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(#555, #333);
    width: 50px;
    height: 50px;
    line-height: 2;
    border-radius: 16px;
    border: 1px solid #666;
}
    /* 이미지 */
#matchImg {
    text-align: center;
    margin: 50px auto;
    display: flex;
    width: 600px;
}
#matchImg #matchBox {
    background-color: #fff;
    width: 100px;
    height: 50px;
    margin-top: 30px;
}
#matchImg #matchBox p {
    color: #001350;
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
}
#matchImg p {
    color: #fff;
    font-size: 26px;
}
.teamName {
    text-shadow: 2px 2px 2px #000;
}
#matchImg img {
    width: 110px;
}
    /* 날짜 */
#matchDay {
    text-align: center;
}
#matchDay p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
}
#matchDay p {
    color: #fff;
    line-height: 1.8;
}
/* 결과 */
#result {
    width: 50%;
    height: 100%;
}
#resultDiv {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border-radius: 16px;
}
#result form {
    margin: 0 20px;
}
#result table {
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}
#result table img {
    width: 43px;
}
#result table th {
    padding: 25px 0;
}
#result table td {
    width: 14.285%;
    padding: 8px 0;
    border-bottom: 1px solid #555;
}
#result table tr:last-child td {
    border: none;
}

/* 스크롤바 */
#resultDiv::-webkit-scrollbar {
    width: 10px;
}
#resultDiv::-webkit-scrollbar-thumb {
    background: #001350;
    border-radius: 10px;
}
#resultDiv::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
}