@keyframes updownMore {
    0%{
        bottom : 25px;
    }
    50%{
        bottom : 33px;
    }
    100%{
        bottom : 25px;
    }
}
#playerMore {
    // ㅡㅡㅡㅡ 첫번째
    #playerText {
        width: 100%;
        height: 100vh;
        display: flex;
        .playerImg {
            width: 100%;
            text-align: center;
            img {
                height: 100%;
            }
        }
        .playerName {
            width: 50%;
            p {
                font-weight: bold;
                &:nth-child(1) {
                    position: absolute;
                    top: 0;
                    left: 5%;
                    color: #001489;
                    font-size: 400px;
                    text-shadow: 6px 6px 1px silver;
                }
                &:nth-child(2) {
                    text-align: right;
                    width: 60%;
                    position: absolute;
                    top: 25%;
                    right: 5%;
                    font-size: 200px;
                    text-shadow: 6px 6px 1px silver;
                }
            }
        }
        .scroll {
            transition: opacity 0.5s;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            span {
                position: absolute;
                bottom: 25px;
                right: -8px;
                color: #222;
                font-size: 20px;
                animation: updownMore 1s linear infinite alternate;
            }
        }
    }
    // ㅡㅡㅡㅡ 두번째
    #playerPhoto {
        margin-top: 150px;
        width: 100%;
        display: flex;
        img{
            transition: 0.3s;
        }
        img:hover {
            transform: scale(1.3);
            transition: 0.5s;
        }
        .photoImg {
            width: 1400px;
            .photoOne {
                display: flex;
                width: 100%;
                height: 50%;
                .photoOne_right {
                    width: 50%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .photoOne_left {
                    width: 50%;
                    height: 100%;
                    >div {
                        &:nth-child(1) {
                            display: flex;
                            width: 100%;
                            height: 50%;
                            img {
                                width: 50%;
                                height: 100%;
                            }
                        }
                        &:nth-child(2) {
                            width: 100%;
                            height: 50%;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
            .photoTwo {
                width: 100%;
                height: 30%;
                > img {
                    height: 100%;
                    width: 33.3333%;
                }
            }
        }
    }
    // ㅡㅡㅡㅡ 세번째
    #comment {
        width: 1400px;
        margin: 0px auto 300px;
        > h3 {
            font-size: 80px;
        }
        #fanInput {
            text-align: center;
            margin: 70px 0 50px;
            form {
                display: flex;
            }
            input {
                width: 100%;
                height: 60px;
                padding-left: 80px;
                outline: none;
                border: none;
                text-align: center;
            }
            div {
                padding: 10px 0 0 10px;
                button {
                    background: none;
                    border: none;
                }
            }
        }
        #fanText {
            > div {
                display: flex;
                width: 1200px;
                border-bottom: 1px solid #ccc;
                padding: 20px 0;
                align-items: center;
                >div{
                    text-align: center;
                    &:nth-child(1) {
                        width: 5%;
                        div {
                            &:nth-child(1):hover {
                                color: red;
                            }
                            &:nth-child(2) {
                                font-size: 12px;
                            }
                        }
                    }
                    &:nth-child(2) {width: 15%;}
                    &:nth-child(3) {width: 60%;}
                    &:nth-child(4) {width: 20%;}
                }
                .remove:hover {
                    color: #ff6b6b;
                }
            }
        }
    }
}
.topScroll {
    transition: opacity 0.3s;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: 1px solid #222;
    border-radius: 50%;
    padding: 8px 13px 15px;
    line-height: 0.5;
    div {
        transform: rotate(180deg);
    }
}