#mypage {
    max-width: 1400px;
    margin: 0 auto 200px;
    h1 {
        font-size: 180px;
        font-weight: 900;
        color: #001350;
        position: relative;
        top: 45px;
        left: 10px;
        text-shadow: 5px 5px 1px #ccc;
        span {
            color: #001350;
            position: absolute;
            top: 200px;
            left: -225px;
            transform: rotate(-90deg);
        }
    }
    > div {
        // display: flex;
        width: 100%;
        text-align: center;
        background-color: #eee;
        border-radius: 16px;
        box-shadow: 5px 5px 4px #ccc;
        >div:nth-child(1) {
            display: flex;
        }
        >div:nth-child(2) {
            display: flex;
        }
    }

    // 회원정보
    #info {
        width: 50%;
        border-right: 1px solid #ccc;
        margin: 50px auto;
        #add td:nth-child(2) {
            line-height: 1.4;
        }
        #btn {
            margin-top: 90px;
        }
        > div {
            margin: 100px auto 70px;
            width: 500px;
        }
        table {
            border-collapse: collapse;
            tr {
                line-height: 3;
            }
            td {
                padding: 10px 30px;
                width: 50%;
                border-bottom: 1px solid #ccc;
            }
        }
    }
    h2 {
        font-size: 40px;
        padding-bottom: 50px;
    }

    // 구매 목록
    #list {
        margin-top: 130px;
        width: 50%;
        #btn {
            margin-top: 50px;
        }
        > div {
            margin: 0 auto;
            width: 500px;
            #all {
                position: relative;
                div:nth-child(1) {
                    text-align: left;
                    padding-left: 35px;
                    padding-bottom: 10px;
                    input {
                        margin-right: 10px;
                        accent-color: #0123B4;
                    }
                }
                div:nth-child(2) {
                    position: absolute;
                    top: 0;
                    right: 45px;
                    p {
                        font-size: 14px;
                        span {font-weight: bold;}
                    }
                }
            }
            >div {
                #box {
                    height: 550px;
                    // max-height: 600px;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        width: 10px;
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        background: #001489;
                        border-radius: 10px;
                    }
                    
                    &::-webkit-scrollbar-track {
                        background: rgba(33, 122, 244, .1);
                    }

                    >div {
                        text-align: left;
                        margin: 0 30px;
                        padding: 10px 0 10px 5px;
                        border-bottom: 1px solid #ccc;
                        // &:last-child {border: none;}
                    }
                    input {
                        margin-right: 30px;
                        accent-color: #0123B4;
                    }
                    img {
                        width: 60px;
                        height: 60px;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                    span:nth-child(4) {
                        margin-right: 10px;
                    }
                    span:nth-child(5) {
                        margin-right: 10px;
                    }
                }
                #total {
                    border-top: 1px solid #ccc;
                    padding-top: 20px;
                    margin-top: 20px;
                    text-align: right;
                    padding-right: 30px;
                }
            }
        }
    }
}
#mypage #btn {
    margin: 0 auto;
    border: 2px solid yellow;
    width: 100px;
    height: 50px;
    position: relative;
    &:hover{
        transition: 0.5s;
    }
    button {
        background-color: #001489;
        color: #fff;
        outline: none;
        border: none;
        width: 100px;
        height: 50px;
        position: absolute;
        top: -10px;
        left: -10px;
        transition: 0.3s;
        cursor: pointer;
    }
    &:hover button {
        top: -2px;
        left: -2px;
        transition: 0.3s;
        background-color: #001350;
    }
}

// bottom
#mypageBto {
    // border-top:  1px solid #ccc;
    display: flex;
    button {
        background: none;
        border: none;
        &:hover {
            color: red;
        }
    }
}

// 내 팬글
#myUs #usTr > td {
    &:nth-child(1) {width: 1%;}
    &:nth-child(2) {width: 20%;}
    &:nth-child(3) {width: 50%;}
    &:nth-child(4) {width: 7%;}
    &:nth-child(5) { width: 20%;}
}
#myUs {
    border-right: 1px solid #ccc;
    > div {
        position: relative;
    }
}
#myCommet, #myUs {
    width: 50%;
    margin: 50px auto;
    .answer {
        background-color: #eee;
        width: 100%;
        padding: 20px;
    }
    #usP {
        position: absolute;
        top: 75px;
        left: 0;
        padding-left: 20px;
        span {
            color: red;
            font-weight: bold;
            vertical-align: middle;
            padding-right: 5px;
        }
    }
    > div {
        margin: 70px auto;
        width: 600px;
        form {
            max-height: 400px;
            overflow-y: scroll;
            background-color: #FAFAFA;
            border-radius: 16px;
            box-shadow: 5px 5px 4px #ccc;
            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: #001489;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background: rgba(33, 122, 244, .1);
            }
        }
        table {
            border-collapse: collapse;
            tr:nth-child(1) td {
                background-color: #001350;
                color: #fff;
                border-bottom: none;
            }
            td {
                padding: 10px 30px;
                width: 25%;
                border-bottom: 1px solid #ccc;
                &:nth-child(1) {width: 1%;}
                &:nth-child(2) {width: 2%;}
                &:nth-child(3) {width: 7%;}
                &:nth-child(4) {width: 70%;}
                &:nth-child(5) { width: 20%;}
            }
        }
    }
}
#mypage > div > div:nth-child(1) {
    position: relative;
}

// 정보 수정
#editCus {
    z-index: 100;
    display: none;
    background-color: rgba(43, 43, 43, 0.596);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    #editBtn {
        float: right;
        margin: 30px 60px;
        position: relative;
        p {
            position: absolute;
            top: 55px;
            right: 0;
        }
        button {
            font-size: 50px;
            font-weight: 900;
            cursor: pointer;
        }
    }
    #editInfo {
        overflow-y: scroll;
        background-color: #eee;
        width: 700px;
        height: 800px;
        border-radius: 24px;
        box-shadow: 5px 5px 5px #555;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        input {
            accent-color: #0123B4;
        }
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: #001489;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: rgba(33, 122, 244, .1);
        }
        table {
            border-collapse: collapse;
            width: 80%;
            td{
                p {
                    font-size: 12px;
                }
                padding: 20px 30px;
                width: 50%;
                border-bottom: 1px solid #ccc;
                &:nth-child(1) {width: 50%;}
                &:nth-child(2) {
                    width: 50%;
                    input {
                        width: 100%;
                        padding: 5px;
                        outline: none;
                        border: none;
                    }
                }
            }
            #add {
                button {
                    background-color: #001350;
                    color: #fff;
                    padding: 4px 5px;
                    cursor: pointer;
                    margin-top: 10px;
                }
            }
        }
        #add td:nth-child(2) {
            line-height: 1.4;
        }
        #btn {
            margin: 50px auto;
            >button {
                font-size: 14px;
                font-weight: normal;
            }
        }
        h2 {
            padding-top: 100px;
        }
    }
}

// 장바구니
#basket {
    width: 90%;
    // background-color: pink;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    input {
        accent-color: #0123B4;
    }
    >div {
        h2 {
            margin-top: 50px;
            padding-left: 100px;
            text-align: left;
        }
        >div {
            width: 90%;
            margin-bottom: 50px;
            #box {
                background-color: #FAFAFA;
                height: 500px;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 10px;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: #001489;
                    border-radius: 10px;
                }
                
                &::-webkit-scrollbar-track {
                    background: rgba(33, 122, 244, .1);
                }
                > div {
                    display: flex;
                    text-align: left;
                    padding-left: 10px;
                    width: 90%;
                    border-bottom: 1px solid #ccc;
                    align-items: center;
                    >div {
                        padding: 10px 0;
                        text-align: center;
                        &:nth-child(1) {width: 5%;}
                        &:nth-child(2) {width: 15%;}
                        &:nth-child(3) {width: 15%;}
                        &:nth-child(4) {width: 25%;}
                        &:nth-child(5) {width: 10%;}
                        &:nth-child(6) {width: 10%;}
                        &:nth-child(7) {width: 12%;}
                        &:nth-child(8) {width: 8%;}
                    }
                    img {
                        vertical-align: middle;
                        width: 50%;
                    }
                    #boxname {
                    }
                }
                #sale {
                    padding: 5px 10px;
                    background-color: #FCF594;
                    color: #000;
                }
                #remove {
                    padding: 5px 10px;
                    background-color: #001489;
                    color: #fff;
                    cursor: pointer;
                    &:hover {
                        background-color: #001350;
                    }
                }
            }
            #all {
                padding-bottom: 10px;
                position: relative;
                display: flex;
                align-items: center;
                >div:nth-child(1) {
                    text-align: left;
                    width: 50%;
                }
                >div:nth-child(2) {
                    padding-left: 150px;
                    display: flex;
                    p {
                        margin-right: 10px;
                        span {
                            font-weight: bold;
                        }
                    }
                    button {
                        background-color: #001489;
                        color: #fff;
                        padding: 5px 20px;
                        cursor: pointer;
                        &:hover {
                            background-color: #001350;
                        }
                    }
                }
            }
            #total {
                margin-top: 10px;
                // display: flex;
                // #total_sale {
                //     text-align: left;
                //     width: 30%;
                //     >div:nth-child(1) {
                //         font-size: 18px;
                //         font-weight: 600;
                //         padding: 0 0 5px 10px;
                //         border-bottom: 1px solid #ccc;
                //     }
                //     >div:nth-child(2) {
                //         padding: 10px;
                //         span {
                //             margin-right: 20px;
                //         }
                //     }
                // }
                #total_money {
                    // margin-left: 300px;
                    text-align: right;
                    // background-color: pink;
                    width: 90%;
                    line-height: 2;
                    p:nth-child(3) {
                        margin-top: -10px;
                        font-size: 12px;
                        span {
                            color: red;
                            font-weight: bold;
                            vertical-align: middle;
                            padding-right: 5px;
                        }
                    }
                    div {
                        width: 30%;
                        margin-top: 10px;
                        padding-top: 10px;
                        border-top: 1px solid #ccc;
                        float: right;
                    }
                }
            }
            #btn {
                margin-top: 50px;
            }
        }
    }
}