#mypage {
    max-width: 1400px;
    margin: 0 auto 200px;
    h1 {
        font-size: 180px;
        font-weight: 900;
        color: #001350;
        position: relative;
        top: 45px;
        left: 10px;
        text-shadow: 5px 5px 1px #ccc;
        span {
            color: #001350;
            position: absolute;
            top: 200px;
            left: -225px;
            transform: rotate(-90deg);
        }
    }
    > div {
        // display: flex;
        width: 100%;
        text-align: center;
        background-color: #eee;
        border-radius: 16px;
        box-shadow: 5px 5px 4px #ccc;
        >div:nth-child(1) {
            display: flex;
        }
        >div:nth-child(2) {
            display: flex;
        }
    }
    #info {
        width: 50%;
        border-right: 1px solid #ccc;
        margin: 50px auto;
        #add td:nth-child(2) {
            line-height: 1.4;
        }
        #btn {
            margin-top: 90px;
        }
        > div {
            margin: 100px auto 70px;
            width: 500px;
        }
        table {
            border-collapse: collapse;
            tr {
                line-height: 3;
            }
            td {
                padding: 10px 30px;
                width: 50%;
                border-bottom: 1px solid #ccc;
            }
        }
    }
    h2 {
        font-size: 40px;
        padding-bottom: 50px;
    }
    #basket {
        margin-top: 130px;
        width: 50%;
        #btn {
            margin-top: 50px;
        }
        > div {
            margin: 0 auto;
            width: 500px;
            #all {
                position: relative;
                div:nth-child(1) {
                    text-align: left;
                    padding-left: 35px;
                    padding-bottom: 10px;
                    input {
                        margin-right: 10px;
                        accent-color: #0123B4;
                    }
                }
                div:nth-child(2) {
                    position: absolute;
                    top: 0;
                    right: 45px;
                    p {
                        font-size: 14px;
                        span {font-weight: bold;}
                    }
                }
            }
            >div {
                #box {
                    height: 400px;
                    max-height: 400px;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        width: 10px;
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        background: #001489;
                        border-radius: 10px;
                    }
                    
                    &::-webkit-scrollbar-track {
                        background: rgba(33, 122, 244, .1);
                    }

                    >div {
                        text-align: left;
                        margin: 0 30px;
                        padding: 10px 0 10px 5px;
                        border-bottom: 1px solid #ccc;
                        &:last-child {border: none;}
                    }
                    input {
                        margin-right: 30px;
                        accent-color: #0123B4;
                    }
                    img {
                        width: 60px;
                        height: 60px;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                    span:nth-child(4) {
                        margin-right: 10px;
                    }
                    span:nth-child(5) {
                        margin-right: 10px;
                    }
                }
                #total {
                    border-top: 1px solid #ccc;
                    padding-top: 20px;
                    margin-top: 20px;
                    text-align: right;
                    padding-right: 30px;
                }
            }
        }
    }
}
#mypage #btn {
    margin: 0 auto;
    border: 2px solid yellow;
    width: 100px;
    height: 50px;
    position: relative;
    &:hover{
        transition: 0.5s;
    }
    button {
        background-color: #001489;
        color: #fff;
        outline: none;
        border: none;
        width: 100px;
        height: 50px;
        position: absolute;
        top: -10px;
        left: -10px;
        transition: 0.3s;
        cursor: pointer;
    }
    &:hover button {
        top: -2px;
        left: -2px;
        transition: 0.3s;
        background-color: #001350;
    }
}

// bottom
#mypageBto {
    border-top:  1px solid #ccc;
    button {
        background: none;
        border: none;
    }
    .remove:hover button{
        color: red;
    }
}
#myUs {
    border-right: 1px solid #ccc;
}
#myCommet, #myUs {
    width: 50%;
    margin: 50px auto;
    > div {
        margin: 70px auto;
        width: 500px;
        form {
            max-height: 400px;
            overflow-y: scroll;
            background-color: #FAFAFA;
            border-radius: 16px;
            box-shadow: 5px 5px 4px #ccc;
            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: #001489;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background: rgba(33, 122, 244, .1);
            }
        }
        table {
            border-collapse: collapse;
            tr:nth-child(1) td {
                background-color: #001350;
                color: #fff;
                border-bottom: none;
            }
            td {
                padding: 10px 30px;
                width: 25%;
                border-bottom: 1px solid #ccc;
                &:nth-child(1){width: 10%;}
                &:nth-child(2){width: 30%;}
                &:nth-child(3){width: 40%;}
                &:nth-child(4){width: 20%;}
            }
        }
    }
}
#mypage > div > div:nth-child(1) {
    position: relative;
}

// 정보 수정
#editCus {
    display: none;
    background-color: rgba(43, 43, 43, 0.596);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    #editBtn {
        float: right;
        margin: 30px 60px;
        position: relative;
        p {
            position: absolute;
            top: 55px;
            right: 0;
        }
        button {
            font-size: 50px;
            font-weight: 900;
            cursor: pointer;
        }
    }
    #editInfo {
        overflow-y: scroll;
        background-color: #eee;
        width: 700px;
        height: 800px;
        border-radius: 50px;
        box-shadow: 5px 5px 5px #555;
        margin-top: 70px;
        input {
            accent-color: #0123B4;
        }
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: #001489;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: rgba(33, 122, 244, .1);
        }
        table {
            border-collapse: collapse;
            width: 80%;
            td{
                padding: 20px 30px;
                width: 50%;
                border-bottom: 1px solid #ccc;
                &:nth-child(1) {width: 50%;}
                &:nth-child(2) {
                    width: 50%;
                    input {
                        width: 100%;
                        padding: 5px;
                        outline: none;
                        border: none;
                    }
                }
            }
            #add {
                button {
                    background-color: #001350;
                    color: #fff;
                    padding: 4px 5px;
                    cursor: pointer;
                    margin-top: 10px;
                }
            }
        }
        #add td:nth-child(2) {
            line-height: 1.4;
        }
        #btn {
            margin: 50px auto;
            >button {
                font-size: 14px;
                font-weight: normal;
            }
        }
        h2 {
            padding-top: 100px;
        }
    }
}