#contact {
    text-align: center;
    margin-bottom: 300px;
    img {
        opacity: 0.1;
        position: fixed;
        top: 0;
        left: 0;
        width: 49%;
    }
}
#contact_top {
    margin: 70px 0 100px;
    h1 {
        font-size: 140px;
    }
}
#contact_table > #search {
    position: absolute;
    top: -45px;
    right: 150px;
    input {
        border: none;
        outline: none;
        width: 300px;
        height: 30px;
        padding-left: 20px;
    }
    span {
        vertical-align: middle;
        padding-left: 5px;
    }
}
#contact_input {
    p {
        position: absolute;
        top: -50px;
        right: 0;
        background-color: #001489;
        width: 100px;
        color: #fff;
        padding: 10px;
        margin-bottom: 50px;
    }
    #inputPopup.inputUp {
        // display: block;
        transition: 1s;
        right: 0;
    }
    form {
        position: absolute;
        top: 0;
        right: -100%;
        background-color: #fff;
        max-width: 600px;
        border-radius: 30px;
        box-shadow: 2px 2px 5px #555;

        // display: none;
        transition: 1s;
        padding-top: 50px;
        text-align: center;
        border-collapse: collapse;
        .MuiTableCell-root {
            text-align: center;
            border: none;
            font-size: 16px;
        }
    }
    #checkBox {
        .MuiTableCell-root {
            #labelOne {
                display: inline-block;
                background-color: pink;
            }
            input {
                width: 10%;
                &:nth-child(1) {
                    margin-right: 70px;
                }
            }
        }
    }
    input {
        width: 90%;
        outline: none;
        padding: 3px;
    }
    textarea {
        outline: none;
        padding: 10px 0 0 10px;
    }
    button {
        background-color: #001489;
        outline: none;
        border: none;
        padding: 8px 20px;
        color: #fff;
        margin: 20px 0 50px 0;
        &:hover {
            background-color: #001350;
        }
    }
}
#contact_table {
    position: relative;
    margin: 80px auto;
    max-width: 1400px;
    ul {
        display: flex;
        li {
            width: 20%;
        }
    }
    #fix {
        background-color: #001489;
        li {
            color: #fff;
            padding: 12px 0;
        }
    }
    #tableDiv {
        > ul {
            border-bottom: 1px solid #222;
            padding: 15px 0;
            overflow: hidden;
            align-items: center;
        }
        #question {
            background-color: rgba(255, 255, 255, 0.164);
            padding: 80px;
            border: none;
        }
        #answer {
            background-color: rgba(145, 145, 145, 0.342);
            padding: 50px;
            li {
                &:nth-child(1) {width: 20%;}
                &:nth-child(2) {width: 80%;}
            }
        }
        .show {
            display: block;
        }
        .hide {
            display: none;
        }
        .show2 {
            display: block;
        }
        .hide2 {
            display: none;
        }
    }
}
.conLogin {
    position: absolute;
    top: -50px;
    right: 0;
    background-color: #001489;
    width: 100px;
    color: #fff;
    padding: 10px;
    margin-bottom: 50px;
    cursor: pointer;
}
button {
    background: none;
    border: none;
}
.remove:hover button{
    color: red;
}