/* ㅡㅡㅡㅡㅡ header ㅡㅡㅡㅡㅡ */
.cursor {
    pointer-events: none;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    /* transform 0.3s ease-in-out; */
    z-index: 50;

    width: 18px;
    height: 18px;
    background-color: #0123B4;
}
.App *::selection {
    background: #4b63ca;
  }
* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    color: #222;
}
body {
    background-color: #e6e2dd;
    /* overflow-x: hidden; */
}

/* 스크롤바 */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    /* height: 10%; */
    background: #001489;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
/* 메뉴 */
#menu {
    position: fixed;
    z-index: 10;
    top: 30px;
    left: 30px;
}
#menu span{
    display: flex;
    background-color: #222;
    width: 40px;
    height: 4px;
    margin-bottom: 5px;
}
#menu p {
    font-size: 14px;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}
#menu p::after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background-color: #222;
    transition: 0.5s;
}
#menu:hover p {
    opacity: 1;
    transition: 0.3s;
}
#menu:hover p::after {
    width: 100%;
    transition: 0.8s;
}

/* 메뉴 toggle */
#menu_toggle {
    position: fixed;
    top: 0;
    left: -200%;
    width: 100%;
    height: 100vh;
    background-color: #001350 ;
    /* background-color: #001489; */
    z-index: 20;
    transition: 1s;
}
#menu_toggle.popup{
    transition: 1s;
    left: 0;
}
#toggle {
    position: absolute;
    top: 6%;
    right: 15%;
    z-index: 50;
}
#toggle li {
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    text-align: right;
    transition: 0.3s;
    position: relative;
    line-height: 1.4;
}
#toggle li:hover {
    font-size: 110px;
    text-decoration :  25px rgba(255, 255, 0, 0.849) line-through;
    transition: 0.3s;
}
/* 메뉴 닫기 */
#menu_toggle #close {
    position: absolute;
    top: 30px;
    left: 30px;
}
#menu_toggle p {
    font-size: 14px;
    text-align: center;
    color: #fff;
}
#menu_toggle span{
    display: flex;
    background-color: #fff;
    width: 40px;
    height: 4px;
    margin-bottom: 5px;
    transition: 0.5s;
}
#menu_toggle div:hover span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 7px);
    transition: 0.5s;
}
#menu_toggle div:hover span:nth-child(2) {
    opacity: 0;
    transition: 0.5s;
}
#menu_toggle div:hover span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -7px);
    transition: 0.5s;
}
/* 메뉴 로고 */
#menu_logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(100%, 25%);
}
#menu_logo img {
    width: 300%;
    opacity: 0.1;
}
/* 메뉴 왼쪾 */
#menu_left {
    position: absolute;
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%);
}
#menu_left p {
    text-align: left;
    font-size: 12px;
}
#menu_left select {
    outline: none;
    border: none;
    color: #fff;
    background: none;
    border-bottom: 1px solid #fff;
}
#menu_left > div {
    display: flex;
    margin-bottom: 30px;
}
#menu_icon ul{
    display: flex;
}
#menu_icon ul li {
    padding-right: 20px;
    color: #333;
    line-height: 0.5;
}
#menu_icon ul li:hover {
    color: #fff;
    transition: 0.3s;
}
/* 아이콘 색 넣기위해 */
svg, path {
    color: inherit;
}
